@use "../icon-variables/variables-day" as *;
@use "../icon-variables/variables-neutral" as *;
@use "../icon-variables/variables-night" as *;
@use "../weather-icons-core";

.#{weather-icons-core.$wi-css-prefix}-forecast-io-clear-day::before {
	content: variables-day.$day-sunny;
}
.#{weather-icons-core.$wi-css-prefix}-forecast-io-clear-night::before {
	content: variables-night.$night-clear;
}
.#{weather-icons-core.$wi-css-prefix}-forecast-io-rain::before {
	content: variables-neutral.$rain;
}
.#{weather-icons-core.$wi-css-prefix}-forecast-io-snow::before {
	content: variables-neutral.$snow;
}
.#{weather-icons-core.$wi-css-prefix}-forecast-io-sleet::before {
	content: variables-neutral.$sleet;
}
.#{weather-icons-core.$wi-css-prefix}-forecast-io-wind::before {
	content: variables-neutral.$strong-wind;
}
.#{weather-icons-core.$wi-css-prefix}-forecast-io-fog::before {
	content: variables-neutral.$fog;
}
.#{weather-icons-core.$wi-css-prefix}-forecast-io-cloudy::before {
	content: variables-neutral.$cloudy;
}
.#{weather-icons-core.$wi-css-prefix}-forecast-io-partly-cloudy-day::before {
	content: variables-day.$day-cloudy;
}
.#{weather-icons-core.$wi-css-prefix}-forecast-io-partly-cloudy-night::before {
	content: variables-night.$night-cloudy;
}
.#{weather-icons-core.$wi-css-prefix}-forecast-io-hail::before {
	content: variables-neutral.$hail;
}
.#{weather-icons-core.$wi-css-prefix}-forecast-io-thunderstorm::before {
	content: variables-night.$thunderstorm;
}
.#{weather-icons-core.$wi-css-prefix}-forecast-io-tornado::before {
	content: variables-neutral.$tornado;
}
