@use "../icon-variables/variables-misc";
@use "../icon-variables/variables-neutral";
@use "../icon-variables/variables-night";
@use "../weather-icons-core";

.#{weather-icons-core.$wi-css-prefix}-wmo4680-0::before,
.#{weather-icons-core.$wi-css-prefix}-wmo4680-00::before {
	content: variables-misc.$thermometer;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-1::before,
.#{weather-icons-core.$wi-css-prefix}-wmo4680-01::before {
	content: variables-neutral.$cloudy;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-2::before,
.#{weather-icons-core.$wi-css-prefix}-wmo4680-02::before {
	content: variables-misc.$thermometer;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-3::before,
.#{weather-icons-core.$wi-css-prefix}-wmo4680-03::before {
	content: variables-neutral.$cloudy;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-4::before,
.#{weather-icons-core.$wi-css-prefix}-wmo4680-04::before {
	content: variables-neutral.$fog;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-5::before,
.#{weather-icons-core.$wi-css-prefix}-wmo4680-05::before {
	content: variables-neutral.$fog;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-10::before {
	content: variables-neutral.$fog;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-11::before {
	content: variables-neutral.$fog;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-12::before {
	content: variables-neutral.$lightning;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-18::before {
	content: variables-neutral.$strong-wind;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-20::before {
	content: variables-neutral.$fog;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-21::before {
	content: variables-neutral.$rain-mix;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-22::before {
	content: variables-neutral.$rain-mix;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-23::before {
	content: variables-neutral.$rain;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-24::before {
	content: variables-neutral.$snow;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-25::before {
	content: variables-neutral.$hail;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-26::before {
	content: variables-night.$thunderstorm;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-27::before {
	content: variables-neutral.$dust;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-28::before {
	content: variables-neutral.$dust;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-29::before {
	content: variables-neutral.$dust;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-30::before {
	content: variables-neutral.$fog;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-31::before {
	content: variables-neutral.$fog;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-32::before {
	content: variables-neutral.$fog;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-33::before {
	content: variables-neutral.$fog;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-34::before {
	content: variables-neutral.$fog;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-35::before {
	content: variables-neutral.$fog;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-40::before {
	content: variables-neutral.$rain-mix;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-41::before {
	content: variables-neutral.$sprinkle;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-42::before {
	content: variables-neutral.$rain;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-43::before {
	content: variables-neutral.$sprinkle;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-44::before {
	content: variables-neutral.$rain;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-45::before {
	content: variables-neutral.$hail;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-46::before {
	content: variables-neutral.$hail;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-47::before {
	content: variables-neutral.$snow;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-48::before {
	content: variables-neutral.$snow;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-50::before {
	content: variables-neutral.$sprinkle;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-51::before {
	content: variables-neutral.$sprinkle;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-52::before {
	content: variables-neutral.$rain;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-53::before {
	content: variables-neutral.$rain;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-54::before {
	content: variables-neutral.$snowflake-cold;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-55::before {
	content: variables-neutral.$snowflake-cold;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-56::before {
	content: variables-neutral.$snowflake-cold;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-57::before {
	content: variables-neutral.$sprinkle;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-58::before {
	content: variables-neutral.$rain;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-60::before {
	content: variables-neutral.$sprinkle;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-61::before {
	content: variables-neutral.$sprinkle;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-62::before {
	content: variables-neutral.$rain;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-63::before {
	content: variables-neutral.$rain;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-64::before {
	content: variables-neutral.$hail;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-65::before {
	content: variables-neutral.$hail;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-66::before {
	content: variables-neutral.$hail;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-67::before {
	content: variables-neutral.$rain-mix;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-68::before {
	content: variables-neutral.$rain-mix;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-70::before {
	content: variables-neutral.$snow;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-71::before {
	content: variables-neutral.$snow;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-72::before {
	content: variables-neutral.$snow;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-73::before {
	content: variables-neutral.$snow;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-74::before {
	content: variables-neutral.$snowflake-cold;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-75::before {
	content: variables-neutral.$snowflake-cold;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-76::before {
	content: variables-neutral.$snowflake-cold;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-77::before {
	content: variables-neutral.$snow;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-78::before {
	content: variables-neutral.$snowflake-cold;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-80::before {
	content: variables-neutral.$rain;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-81::before {
	content: variables-neutral.$sprinkle;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-82::before {
	content: variables-neutral.$rain;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-83::before {
	content: variables-neutral.$rain;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-84::before {
	content: variables-night.$storm-showers;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-85::before {
	content: variables-neutral.$rain-mix;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-86::before {
	content: variables-neutral.$rain-mix;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-87::before {
	content: variables-neutral.$rain-mix;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-89::before {
	content: variables-neutral.$hail;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-90::before {
	content: variables-neutral.$lightning;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-91::before {
	content: variables-night.$storm-showers;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-92::before {
	content: variables-night.$thunderstorm;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-93::before {
	content: variables-night.$thunderstorm;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-94::before {
	content: variables-neutral.$lightning;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-95::before {
	content: variables-night.$thunderstorm;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-96::before {
	content: variables-night.$thunderstorm;
}
.#{weather-icons-core.$wi-css-prefix}-wmo4680-99::before {
	content: variables-neutral.$tornado;
}
