@use "../icon-variables/variables-day" as *;
@use "../icon-variables/variables-neutral" as *;
@use "../icon-variables/variables-night" as *;
@use "../weather-icons-core" as *;

.#{weather-icons-core.$wi-css-prefix}-wu-chanceflurries::before {
	content: $snow-wind;
}
.#{weather-icons-core.$wi-css-prefix}-wu-chancerain::before {
	content: $rain;
}
.#{weather-icons-core.$wi-css-prefix}-wu-chancesleat::before {
	content: $sleet;
}
.#{weather-icons-core.$wi-css-prefix}-wu-chancesnow::before {
	content: $snow;
}
.#{weather-icons-core.$wi-css-prefix}-wu-chancetstorms::before {
	content: $thunderstorm;
}
.#{weather-icons-core.$wi-css-prefix}-wu-clear::before {
	content: $day-sunny;
}
.#{weather-icons-core.$wi-css-prefix}-wu-cloudy::before {
	content: $day-cloudy;
}
.#{weather-icons-core.$wi-css-prefix}-wu-flurries::before {
	content: $snow-wind;
}
.#{weather-icons-core.$wi-css-prefix}-wu-hazy::before {
	content: $day-haze;
}
.#{weather-icons-core.$wi-css-prefix}-wu-mostlycloudy::before {
	content: $day-cloudy;
}
.#{weather-icons-core.$wi-css-prefix}-wu-mostlysunny::before {
	content: $day-sunny;
}
.#{weather-icons-core.$wi-css-prefix}-wu-partlycloudy::before {
	content: $day-cloudy;
}
.#{weather-icons-core.$wi-css-prefix}-wu-partlysunny::before {
	content: $day-sunny;
}
.#{weather-icons-core.$wi-css-prefix}-wu-rain::before {
	content: $showers;
}
.#{weather-icons-core.$wi-css-prefix}-wu-sleat::before {
	content: $sleet;
}
.#{weather-icons-core.$wi-css-prefix}-wu-snow::before {
	content: $snow;
}
.#{weather-icons-core.$wi-css-prefix}-wu-sunny::before {
	content: $day-sunny;
}
.#{weather-icons-core.$wi-css-prefix}-wu-tstorms::before {
	content: $thunderstorm;
}
.#{weather-icons-core.$wi-css-prefix}-wu-unknown::before {
	content: $day-sunny;
}
