@use "../icon-variables/variables-day" as *;
@use "../icon-variables/variables-neutral" as *;
@use "../icon-variables/variables-night" as *;
@use "../weather-icons-core";

.#{weather-icons-core.$wi-css-prefix}-wu-chanceflurries::before {
	content: variables-neutral.$snow-wind;
}
.#{weather-icons-core.$wi-css-prefix}-wu-chancerain::before {
	content: variables-neutral.$rain;
}
.#{weather-icons-core.$wi-css-prefix}-wu-chancesleat::before {
	content: variables-neutral.$sleet;
}
.#{weather-icons-core.$wi-css-prefix}-wu-chancesnow::before {
	content: variables-neutral.$snow;
}
.#{weather-icons-core.$wi-css-prefix}-wu-chancetstorms::before {
	content: variables-night.$thunderstorm;
}
.#{weather-icons-core.$wi-css-prefix}-wu-clear::before {
	content: variables-day.$day-sunny;
}
.#{weather-icons-core.$wi-css-prefix}-wu-cloudy::before {
	content: variables-day.$day-cloudy;
}
.#{weather-icons-core.$wi-css-prefix}-wu-flurries::before {
	content: variables-neutral.$snow-wind;
}
.#{weather-icons-core.$wi-css-prefix}-wu-hazy::before {
	content: variables-day.$day-haze;
}
.#{weather-icons-core.$wi-css-prefix}-wu-mostlycloudy::before {
	content: variables-day.$day-cloudy;
}
.#{weather-icons-core.$wi-css-prefix}-wu-mostlysunny::before {
	content: variables-day.$day-sunny;
}
.#{weather-icons-core.$wi-css-prefix}-wu-partlycloudy::before {
	content: variables-day.$day-cloudy;
}
.#{weather-icons-core.$wi-css-prefix}-wu-partlysunny::before {
	content: variables-day.$day-sunny;
}
.#{weather-icons-core.$wi-css-prefix}-wu-rain::before {
	content: variables-neutral.$showers;
}
.#{weather-icons-core.$wi-css-prefix}-wu-sleat::before {
	content: variables-neutral.$sleet;
}
.#{weather-icons-core.$wi-css-prefix}-wu-snow::before {
	content: variables-neutral.$snow;
}
.#{weather-icons-core.$wi-css-prefix}-wu-sunny::before {
	content: variables-day.$day-sunny;
}
.#{weather-icons-core.$wi-css-prefix}-wu-tstorms::before {
	content: variables-night.$thunderstorm;
}
.#{weather-icons-core.$wi-css-prefix}-wu-unknown::before {
	content: variables-day.$day-sunny;
}
