@use "../icon-variables/variables-day";

.wi-day-sunny::before {
	content: variables-day.$day-sunny;
}
.wi-day-cloudy::before {
	content: variables-day.$day-cloudy;
}
.wi-day-cloudy-gusts::before {
	content: variables-day.$day-cloudy-gusts;
}
.wi-day-cloudy-windy::before {
	content: variables-day.$day-cloudy-windy;
}
.wi-day-fog::before {
	content: variables-day.$day-fog;
}
.wi-day-hail::before {
	content: variables-day.$day-hail;
}
.wi-day-haze::before {
	content: variables-day.$day-haze;
}
.wi-day-lightning::before {
	content: variables-day.$day-lightning;
}
.wi-day-rain::before {
	content: variables-day.$day-rain;
}
.wi-day-rain-mix::before {
	content: variables-day.$day-rain-mix;
}
.wi-day-rain-wind::before {
	content: variables-day.$day-rain-wind;
}
.wi-day-showers::before {
	content: variables-day.$day-showers;
}
.wi-day-sleet::before {
	content: variables-day.$day-sleet;
}
.wi-day-sleet-storm::before {
	content: variables-day.$day-sleet-storm;
}
.wi-day-snow::before {
	content: variables-day.$day-snow;
}
.wi-day-snow-thunderstorm::before {
	content: variables-day.$day-snow-thunderstorm;
}
.wi-day-snow-wind::before {
	content: variables-day.$day-snow-wind;
}
.wi-day-sprinkle::before {
	content: variables-day.$day-sprinkle;
}
.wi-day-storm-showers::before {
	content: variables-day.$day-storm-showers;
}
.wi-day-sunny-overcast::before {
	content: variables-day.$day-sunny-overcast;
}
.wi-day-thunderstorm::before {
	content: variables-day.$day-thunderstorm;
}
.wi-day-windy::before {
	content: variables-day.$day-windy;
}
.wi-solar-eclipse::before {
	content: variables-day.$solar-eclipse;
}
.wi-hot::before {
	content: variables-day.$hot;
}
.wi-day-cloudy-high::before {
	content: variables-day.$day-cloudy-high;
}
.wi-day-light-wind::before {
	content: variables-day.$day-light-wind;
}
