@use "../icon-variables/variables-misc";

.wi-alien::before {
	content: variables-misc.$alien;
}
.wi-celsius::before {
	content: variables-misc.$celsius;
}
.wi-fahrenheit::before {
	content: variables-misc.$fahrenheit;
}
.wi-degrees::before {
	content: variables-misc.$degrees;
}
.wi-thermometer::before {
	content: variables-misc.$thermometer;
}
.wi-thermometer-exterior::before {
	content: variables-misc.$thermometer-exterior;
}
.wi-thermometer-internal::before {
	content: variables-misc.$thermometer-internal;
}
.wi-cloud-down::before {
	content: variables-misc.$cloud-down;
}
.wi-cloud-up::before {
	content: variables-misc.$cloud-up;
}
.wi-cloud-refresh::before {
	content: variables-misc.$cloud-refresh;
}
.wi-horizon::before {
	content: variables-misc.$horizon;
}
.wi-horizon-alt::before {
	content: variables-misc.$horizon-alt;
}
.wi-sunrise::before {
	content: variables-misc.$sunrise;
}
.wi-sunset::before {
	content: variables-misc.$sunset;
}
.wi-moonrise::before {
	content: variables-misc.$moonrise;
}
.wi-moonset::before {
	content: variables-misc.$moonset;
}
.wi-refresh::before {
	content: variables-misc.$refresh;
}
.wi-refresh-alt::before {
	content: variables-misc.$refresh-alt;
}
.wi-umbrella::before {
	content: variables-misc.$umbrella;
}
.wi-barometer::before {
	content: variables-misc.$barometer;
}
.wi-humidity::before {
	content: variables-misc.$humidity;
}
.wi-na::before {
	content: variables-misc.$na;
}
.wi-train::before {
	content: variables-misc.$train;
}
