@use "../icon-variables/variables-direction";

.wi-direction-up::before {
	content: variables-direction.$direction-up;
}
.wi-direction-up-right::before {
	content: variables-direction.$direction-up-right;
}
.wi-direction-right::before {
	content: variables-direction.$direction-right;
}
.wi-direction-down-right::before {
	content: variables-direction.$direction-down-right;
}
.wi-direction-down::before {
	content: variables-direction.$direction-down;
}
.wi-direction-down-left::before {
	content: variables-direction.$direction-down-left;
}
.wi-direction-left::before {
	content: variables-direction.$direction-left;
}
.wi-direction-up-left::before {
	content: variables-direction.$direction-up-left;
}
